*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    background: #4974a5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bird{
    position: relative;
    width: 400px;
    height: 400px;
    background: #fff;

    .head{
        position: absolute;
        width: 400px;
        height: 400px;
        background: #dc002d;
        border-radius: 50%;
        border: 3px solid #000801;
        overflow: hidden;

        &::before{
            content: '';
            position: absolute;
            width: 300px;
            height: 300px;
            background: #eccaa8;
            border-radius: 50%;
            top: 64%;
            left: 15%;
        }
    }

    .tail-middle, .tail-top, .tail-bottom{
        position: absolute;
        width: 80px;
        height: 80px;
        clip-path: polygon(0 27%, 100% 40%, 100% 68%, 0 79%);
        background: #000801;
    }

    .tail-middle{
        top: 36%;
        left: -17%;
    }

    .tail-top{
        top: 30%;
        left: -8%;
        transform: rotate(35deg);
    }

    .tail-bottom{
        top: 44%;
        left: -11%;
        transform: rotate(-25deg);
    }

    .eyebrow-right{
        position: absolute;
        top: 25%;
        right: 15%;
        width: 140px;
        height: 50px;
        background: #000801;
        transform: rotate(-8deg);
        z-index: 3;
    }

    .eyebrow-left{
        position: absolute;
        top: 25%;
        left: 17%;
        width: 140px;
        height: 50px;
        background: #000801;
        transform: rotate(8deg);
        z-index: 3;
    }

    .eye-right{
        position: absolute;
        top: 30%;
        right: 20%;
        width: 120px;
        height: 120px;
        background: #fff;
        border-radius: 50%;
        border: 2px solid #000801;
        box-shadow: 10px 3px 10px 3px #ab0024;

        &::before{
            content: '';
            position: absolute;
            top: 25%;
            left: 25%;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #000801;
            background: #000;
        }

        &::after{
            content: '';
            position: absolute;
            top: 29%;
            left: 43%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #fff;
        }
    }

    .eye-left{
        position: absolute;
        top: 30%;
        left: 21%;
        width: 120px;
        height: 120px;
        background: #fff;
        border-radius: 50%;
        border: 2px solid #000801;
        box-shadow: -10px 3px 10px 3px #ab0024;

        &::before{
            content: '';
            position: absolute;
            top: 25%;
            right: 25%;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #000801;
            background: #000;
        }

        &::after{
            content: '';
            position: absolute;
            top: 30%;
            right: 30%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #fff;
        }
    }
}